* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 